
body{ 
  background: url(../brain-neurons.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
	text-align: center;
	font-size: 4em;
	color: aliceblue;
	font-family: 'Corben', Georgia, Times, serif;
	margin-top: 2%;

}

.question-panel {
	background-color:rgba(196, 198, 232, 0.8);
	width: 70%;
	margin-left:auto;
	margin-right: auto;
	margin-top: 2%;
	color: black;	
}


.question {
	padding: 30px;
	text-align: center;
	font-size: 175%;
}

#submit-button{
margin-bottom: 20px;
background-color: aliceblue;
}

#next-button{
margin-bottom: 20px;
background-color: aliceblue;
display: none;
}

#result-button{
margin-bottom: 20px;
background-color: aliceblue;
display: none;
}

#end-button{
margin-bottom: 20px;
background-color: aliceblue;
display: none;
}

.result {
	margin: 10px auto;
	text-align: center;
	font-size: 3em;
	
}

#score {
	color:aliceblue;
	font-family: 'Corben', Georgia, Times, serif;

}

.incorrect {
	color:red;
	display: none;	
}

.correct {
	color:green;
	display: none;	
}


.choices {
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

